@page
@model CopiiClinica.Pages.Prezente.IndexModel

@{
    ViewData["Title"] = "Prezențe";
}

<h1>Prezențe</h1>

<p>
    <a asp-page="Create">Adaugă o prezență</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="ListaPrezente.FirstOrDefault().Data"></label>
            </th>
            <th>
                <label>Nume Student</label>
            </th>
            <th>
                <label asp-for="ListaPrezente.FirstOrDefault().Prezent"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var prezenta in Model.ListaPrezente) {
        <tr>
            <td>
                @Html.DisplayFor(model => prezenta.Data)
            </td>
            <td>
                @Html.DisplayFor(model => prezenta.Copil.Nume)
                <label></label>
                @Html.DisplayFor(model => prezenta.Copil.Prenume)
            </td>
            <td>
                @Html.DisplayFor(model => prezenta.Prezent)
            </td>
            <td>
                <a asp-page="./NewNote" asp-route-id="@prezenta.ID">Adaugă o notiță</a> |
                <a asp-page="./Edit" asp-route-id="@prezenta.ID">Editează</a> |
                <a asp-page="./Details" asp-route-id="@prezenta.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@prezenta.ID">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
